*~
.deps
.libs
Makefile
autom4te.cache
btparser
btparser.pc
btparser.spec
*.o
config.log
config.status
lib/.deps
lib/.libs
lib/*.l[ao]
lib/Makefile
tests/Makefile
tests/atconfig
tests/atlocal
tests/testsuite
tests/testsuite.log
