*~
.deps
.libs
Makefile
Doxyfile
*.o
Makefile.in
ar-lib
compile
satyr.1

build/*

/autom4te.cache
/satyr
/satyr.pc
/satyr.spec
/satyr-version
/aclocal.m4
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/libtool
/missing
/py-compile

/docs/*.aux
/docs/btparser.idx
/docs/btparser.ilg
/docs/btparser.ind
/docs/btparser.log
/docs/btparser.out
/docs/btparser.toc
/docs/doxygen

/apidoc/html/*.html
/apidoc/html/*.css
/apidoc/html/*.js
/apidoc/html/*.png
/apidoc/html/search

/lib/.deps
/lib/.libs
/lib/*.l[ao]
/lib/Makefile
/lib/stamp-h1
/lib/config.h
/lib/config.h.in
/lib/normalize_hash.h

/python/*.l[ao]
/python/doc/conf.py
/python/doc/_build

/ruby/rubygem-satyr.spec
/ruby/satyr-*.gem

/tests/*.log
/tests/*.trs
/tests/Makefile
/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/test-driver
/tests/testsuite
/tests/testsuite.log
/tests/testsuite.dir
/tests/python/test_helpers.pyc
/tests/python/__pycache__
