*~
.deps
.libs
Makefile
*.o
Makefile.in
ar-lib
compile
satyr.1

/autom4te.cache
/satyr
/satyr.pc
/satyr.spec
/aclocal.m4
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/libtool
/missing
/py-compile

/docs/*.aux
/docs/btparser.idx
/docs/btparser.ilg
/docs/btparser.ind
/docs/btparser.log
/docs/btparser.out
/docs/btparser.toc
/docs/doxygen

/lib/.deps
/lib/.libs
/lib/*.l[ao]
/lib/Makefile
/lib/stamp-h1
/lib/config.h
/lib/config.h.in

/python/*.l[ao]

/tests/Makefile
/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/testsuite
/tests/testsuite.log
/tests/testsuite.dir
/tests/python/test_helpers.pyc
