/dump_core

/abrt
/cluster
/core_frame
/core_stacktrace
/core_thread
/gdb_sharedlib
/java_frame
/java_stacktrace
/java_thread
/koops_frame
/metrics
/normalize
/operating_system
/report
/rpm
/ruby_frame
/strbuf
