/abrt
/cluster
/core_frame
/core_stacktrace
/core_thread
/dump_core
/gdb_frame
/gdb_sharedlib
/gdb_stacktrace
/gdb_thread
/java_frame
/java_stacktrace
/java_thread
/js_frame
/js_platform
/js_stacktrace
/koops_frame
/koops_stacktrace
/metrics
/normalize
/operating_system
/report
/rpm
/ruby_frame
/ruby_stacktrace
/strbuf
/utils
